extends ../_skeleton
include ../components/card
block variables
	- pageName = 'Gift Vouchers'

block page

	include ../sections/_header-classic

	section.section-lg.bg-secondary
		.container.wide
			.text-center
				h1 Gift Vouchers
				.subtitle-2 Lorem ipsum dolor sit amet, consectetur

	.section.section-xl
		.container.wide
			.row.row-md-80.row-sm-50
				.col-lg-6
					.subtitle Make a perfect gift
					h2.title Buy a gift massage voucher
					.subtitle-2.big Sed imperdiet hendrerit blandit. Integer at eges tas ante, a laoreet mi. In diam metus.
					.list-wrap
						ul.list-marked
							li: p Treat your friend in the privacy of their own home or hotel
							li: p Qualified professional massage therapists with all necessary
							li: p Easy online bookings and redemption
							li: p Beautifully designed, print-ready massage gift certificate
				.col-6.justify-content-end.mt-md-5.mt-sm-3
					+img( 'gift-card-610x550' )


	//Gift Voucher
	.section.section.section-xl.bg-gray-150
		.container.wide
			.text-center
				h2.title Beautyrel Massage Gift Voucher
				.subtitle-2 Get a personalized gift voucher for your family member.
			.row.row-md-80.row-sm-50
				.col-xs-10.col-md-6.col-lg-4.text-center
					.voucher-box
						.voucher-name $250 Gift Voucher
						.voucher-title Basic Voucher
						.voucher-text The most affordable option for anyone.
						a.button.button-secondary.button-md(href='#') Buy As Gift
				.col-xs-10.col-md-6.col-lg-4.text-center
					.voucher-box-dark
						.voucher-name $450 Gift Voucher
						.voucher-title Standard Voucher
						.voucher-text Our most popular offer that also is a great present.
						a.button.button-secondary-dark.button-md(href='#') Buy As Gift
				.col-xs-10.col-md-6.col-lg-4.text-center
					.voucher-box
						.voucher-name $950 Gift Voucher
						.voucher-title Premium Voucher
						.voucher-text This voucher includes the cost of all our treatments.
						a.button.button-secondary.button-md(href='#') Buy As Gift


	//FAQ
	.section.section.section-xl
		.container.wide
			.row.row-md-80.row-sm-50
				.col-sm-12.col-lg-4
					.subtitle Frequently Asked <br class="br-none">Questions
				.col-sm-12.col-lg-8
					#accordion1.card-group-custom( role='tablist' aria-multiselectable='false' )
						+card({
							parentId: 'accordion1',
							title: 'Do you provide any scripts with your templates?'
						}).card-corporate
							p Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.

						+card({
							parentId: 'accordion1',
							title: 'What are the advantages of purchasing a website template?'
						}).card-corporate
							p The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.

						+card({
							parentId: 'accordion1',
							title: 'What do I receive when I order a template from Zemez?'
						}).card-corporate
							p After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.

						+card({
							parentId: 'accordion1',
							title: 'In what formats are your templates available?'
						}).card-corporate
							p Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.

						+card({
							parentId: 'accordion1',
							title: 'What am I allowed to do with the templates?'
						}).card-corporate
							p You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).


	include ../sections/_footer-classic
