-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap",
		logo = {
			default: 'logo-default-428x112.png',
			inverse: 'logo-inverse-430x112.png',
			name: 'Beautyrel'
		},
		links = {
			post: 'blog-post.html',
			getTemplate:'#get-template'
		},
		colors = {
			primary: '#0C1451'
		},
		menu = [
			{
				title: 'Home',
				link: 'index.html'
			},
			{
				title: 'Gift Vouchers'
			},
			{
				title: 'About'
			},
			{
				title:'Massage',
				dropdown: [
					{ title: 'Single Massage' }
				]
			},
			{
				title: 'Contacts'
			},
			{
				title: 'Pages',
				link: '#',
				dropdown: [
					{ title: 'Typography' },
					{ title: 'Buttons' },
					{ title: 'Forms' },
					{ title: 'Tabs and accordions' },
					{ title: 'Privacy policy' },
					{ title: 'Under Construction' }
				]
				//
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
